# 作業2
- 計算出2005年的S&P500指數日報酬的平均數、標準差、變異數、偏態，峰態
- 計算出2015年的S&P500指數日報酬的平均數、標準差、變異數、偏態，峰態
- 計算出2018年的S&P500指數日報酬的平均數、標準差、變異數、偏態，峰態

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 匯入資料
# 需先用EXCEL整理好的資料
# 資料跟程式碼要放在同一個資料夾
data = pd.read_csv('data_SPX.csv')

In [3]:
data.head()

       Date   Adj Close  year  month  day
0  1990/1/2  359.690002  1990      1    2
1  1990/1/3  358.760010  1990      1    3
2  1990/1/4  355.670013  1990      1    4
3  1990/1/5  352.200012  1990      1    5
4  1990/1/8  353.790009  1990      1    8

In [4]:
# 計算報酬率
data['ret'] = data['Adj Close'].diff() / data['Adj Close'].shift()
data.head()

       Date   Adj Close  year  month  day       ret
0  1990/1/2  359.690002  1990      1    2       NaN
1  1990/1/3  358.760010  1990      1    3 -0.002586
2  1990/1/4  355.670013  1990      1    4 -0.008613
3  1990/1/5  352.200012  1990      1    5 -0.009756
4  1990/1/8  353.790009  1990      1    8  0.004514

In [43]:
# 計算log報酬率
data['logr'] = np.log(data['Adj Close']).diff()

            Date    Adj Close  year  month  day       ret      logr
3784    2005/1/3  1202.079956  2005      1    3 -0.008119 -0.008153
3785    2005/1/4  1188.050049  2005      1    4 -0.011671 -0.011740
3786    2005/1/5  1183.739990  2005      1    5 -0.003628 -0.003634
3787    2005/1/6  1187.890015  2005      1    6  0.003506  0.003500
3788    2005/1/7  1186.189941  2005      1    7 -0.001431 -0.001432
3789   2005/1/10  1190.250000  2005      1   10  0.003423  0.003417
3790   2005/1/11  1182.989990  2005      1   11 -0.006100 -0.006118
3791   2005/1/12  1187.699951  2005      1   12  0.003981  0.003973
3792   2005/1/13  1177.449951  2005      1   13 -0.008630 -0.008668
3793   2005/1/14  1184.520020  2005      1   14  0.006005  0.005987
3794   2005/1/18  1195.979980  2005      1   18  0.009675  0.009628
3795   2005/1/19  1184.630005  2005      1   19 -0.009490 -0.009535
3796   2005/1/20  1175.410034  2005      1   20 -0.007783 -0.007813
3797   2005/1/21  1167.869995  2005      1   21 -0.006415 -0.006435
3798   2005/1/24  1163.750000  2005      1   24 -0.003528 -0.003534
3799   2005/1/25  1168.410034  2005      1   25  0.004004  0.003996
3800   2005/1/26  1174.069946  2005      1   26  0.004844  0.004832
3801   2005/1/27  1174.550049  2005      1   27  0.000409  0.000409
3802   2005/1/28  1171.359985  2005      1   28 -0.002716 -0.002720
3803   2005/1/31  1181.270020  2005      1   31  0.008460  0.008425
3804    2005/2/1  1189.410034  2005      2    1  0.006891  0.006867
3805    2005/2/2  1193.189941  2005      2    2  0.003178  0.003173
3806    2005/2/3  1189.890015  2005      2    3 -0.002766 -0.002769
3807    2005/2/4  1203.030029  2005      2    4  0.011043  0.010983
3808    2005/2/7  1201.719971  2005      2    7 -0.001089 -0.001090
3809    2005/2/8  1202.300049  2005      2    8  0.000483  0.000483
3810    2005/2/9  1191.989990  2005      2    9 -0.008575 -0.008612
3811   2005/2/10  1197.010010  2005      2   10  0.004211  0.004203
3812   2005/2/11  1205.300049  2005      2   11  0.006926  0.006902
3813   2005/2/14  1206.140015  2005      2   14  0.000697  0.000697
...          ...          ...   ...    ...  ...       ...       ...
4006  2005/11/17  1242.800049  2005     11   17  0.009414  0.009370
4007  2005/11/18  1248.270020  2005     11   18  0.004401  0.004392
4008  2005/11/21  1254.849976  2005     11   21  0.005271  0.005257
4009  2005/11/22  1261.229980  2005     11   22  0.005084  0.005071
4010  2005/11/23  1265.609985  2005     11   23  0.003473  0.003467
4011  2005/11/25  1268.250000  2005     11   25  0.002086  0.002084
4012  2005/11/28  1257.459961  2005     11   28 -0.008508 -0.008544
4013  2005/11/29  1257.479980  2005     11   29  0.000016  0.000016
4014  2005/11/30  1249.479980  2005     11   30 -0.006362 -0.006382
4015   2005/12/1  1264.670044  2005     12    1  0.012157  0.012084
4016   2005/12/2  1265.079956  2005     12    2  0.000324  0.000324
4017   2005/12/5  1262.089966  2005     12    5 -0.002363 -0.002366
4018   2005/12/6  1263.699951  2005     12    6  0.001276  0.001275
4019   2005/12/7  1257.369995  2005     12    7 -0.005009 -0.005022
4020   2005/12/8  1255.839966  2005     12    8 -0.001217 -0.001218
4021   2005/12/9  1259.369995  2005     12    9  0.002811  0.002807
4022  2005/12/12  1260.430054  2005     12   12  0.000842  0.000841
4023  2005/12/13  1267.430054  2005     12   13  0.005554  0.005538
4024  2005/12/14  1272.739990  2005     12   14  0.004190  0.004181
4025  2005/12/15  1270.939941  2005     12   15 -0.001414 -0.001415
4026  2005/12/16  1267.319946  2005     12   16 -0.002848 -0.002852
4027  2005/12/19  1259.920044  2005     12   19 -0.005839 -0.005856
4028  2005/12/20  1259.619995  2005     12   20 -0.000238 -0.000238
4029  2005/12/21  1262.790039  2005     12   21  0.002517  0.002514
4030  2005/12/22  1268.119995  2005     12   22  0.004221  0.004212
4031  2005/12/23  1268.660034  2005     12   23  0.000426  0.000426
4032  2005/12/27  1256.540039  2005     12   27 -0.009553 -0.009599
4033  2005/12/28  1258.170044  2005     12   28  0.001297  0.001296
4034  2005/12/29  1254.420044  2005     12   29 -0.002981 -0.002985
4035  2005/12/30  1248.290039  2005     12   30 -0.004887 -0.004899

[252 rows x 7 columns]

In [7]:
# 抓出2005年的資料
data_2005 = data[data.year == 2005]
data_2005.tail()

            Date    Adj Close  year  month  day       ret
4031  2005/12/23  1268.660034  2005     12   23  0.000426
4032  2005/12/27  1256.540039  2005     12   27 -0.009553
4033  2005/12/28  1258.170044  2005     12   28  0.001297
4034  2005/12/29  1254.420044  2005     12   29 -0.002981
4035  2005/12/30  1248.290039  2005     12   30 -0.004887

In [48]:
# 排序 
# ascending 決定小到大還是大到小
# 對報酬率排序 了解目前日報酬率的分布狀況
data_2005.sort_values(by = ['ret'], ascending=True)

            Date    Adj Close  year  month  day       ret      logr
3855   2005/4/15  1142.619995  2005      4   15 -0.016720 -0.016862
3986  2005/10/20  1177.800049  2005     10   20 -0.015020 -0.015134
3975   2005/10/5  1196.390015  2005     10    5 -0.014887 -0.014999
3818   2005/2/22  1184.160034  2005      2   22 -0.014506 -0.014612
3858   2005/4/20  1137.500000  2005      4   20 -0.013255 -0.013344
3940   2005/8/16  1219.339966  2005      8   16 -0.011776 -0.011846
3853   2005/4/13  1173.790039  2005      4   13 -0.011762 -0.011831
3785    2005/1/4  1188.050049  2005      1    4 -0.011671 -0.011740
3864   2005/4/28  1143.219971  2005      4   28 -0.011380 -0.011446
3903   2005/6/23  1200.729980  2005      6   23 -0.010833 -0.010892
3872   2005/5/10  1166.219971  2005      5   10 -0.010705 -0.010763
3991  2005/10/27  1178.900024  2005     10   27 -0.010475 -0.010530
3838   2005/3/22  1171.709961  2005      3   22 -0.010196 -0.010249
3829    2005/3/9  1207.010010  2005      3    9 -0.010185 -0.010237
3984  2005/10/18  1178.140015  2005     10   18 -0.010050 -0.010100
3874   2005/5/12  1159.359985  2005      5   12 -0.010033 -0.010084
3854   2005/4/14  1162.050049  2005      4   14 -0.010002 -0.010052
3974   2005/10/4  1214.469971  2005     10    4 -0.009970 -0.010020
4032  2005/12/27  1256.540039  2005     12   27 -0.009553 -0.009599
3795   2005/1/19  1184.630005  2005      1   19 -0.009490 -0.009535
3965   2005/9/21  1210.199951  2005      9   21 -0.009121 -0.009163
3862   2005/4/26  1151.829956  2005      4   26 -0.008837 -0.008877
3792   2005/1/13  1177.449951  2005      1   13 -0.008630 -0.008668
3810    2005/2/9  1191.989990  2005      2    9 -0.008575 -0.008612
4012  2005/11/28  1257.459961  2005     11   28 -0.008508 -0.008544
3850    2005/4/8  1181.199951  2005      4    8 -0.008345 -0.008380
3911    2005/7/6  1194.939941  2005      7    6 -0.008340 -0.008375
3784    2005/1/3  1202.079956  2005      1    3 -0.008119 -0.008153
3834   2005/3/16  1188.069946  2005      3   16 -0.008082 -0.008115
3816   2005/2/17  1200.750000  2005      2   17 -0.007923 -0.007955
...          ...          ...   ...    ...  ...       ...       ...
3820   2005/2/24  1200.199951  2005      2   24  0.007894  0.007863
3957    2005/9/9  1241.479980  2005      9    9  0.007965  0.007933
3982  2005/10/14  1186.569946  2005     10   14  0.008268  0.008234
3962   2005/9/16  1237.910034  2005      9   16  0.008292  0.008258
4001  2005/11/10  1230.959961  2005     11   10  0.008446  0.008411
3803   2005/1/31  1181.270020  2005      1   31  0.008460  0.008425
3861   2005/4/25  1162.099976  2005      4   25  0.008662  0.008625
3910    2005/7/5  1204.989990  2005      7    5  0.008833  0.008794
3971   2005/9/29  1227.680054  2005      9   29  0.008867  0.008828
3887    2005/6/1  1202.219971  2005      6    1  0.008997  0.008957
3906   2005/6/28  1201.569946  2005      6   28  0.009138  0.009096
3821   2005/2/25  1211.369995  2005      2   25  0.009307  0.009264
4006  2005/11/17  1242.800049  2005     11   17  0.009414  0.009370
3826    2005/3/4  1222.119995  2005      3    4  0.009624  0.009578
3794   2005/1/18  1195.979980  2005      1   18  0.009675  0.009628
3951   2005/8/31  1220.329956  2005      8   31  0.009864  0.009816
3995   2005/11/2  1214.760010  2005     11    2  0.009977  0.009928
3878   2005/5/18  1185.560059  2005      5   18  0.010019  0.009969
3876   2005/5/16  1165.689941  2005      5   16  0.010086  0.010036
3807    2005/2/4  1203.030029  2005      2    4  0.011043  0.010983
3913    2005/7/8  1211.859985  2005      7    8  0.011679  0.011611
3865   2005/4/29  1156.849976  2005      4   29  0.011922  0.011852
4015   2005/12/1  1264.670044  2005     12    1  0.012157  0.012084
3868    2005/5/4  1175.650024  2005      5    4  0.012470  0.012393
3954    2005/9/6  1233.390015  2005      9    6  0.012619  0.012540
3843   2005/3/30  1181.410034  2005      3   30  0.013773  0.013679
3985  2005/10/19  1195.760010  2005     10   19  0.014956  0.014845
3992  2005/10/28  1198.410034  2005     10   28  0.016549  0.016414
3988  2005/10/24  1199.380005  2005     10   24  0.016777  0.016638
3859   2005/4/21  1159.949951  2005      4   21  0.019736  0.019544

[252 rows x 7 columns]

In [49]:
# 計算敘述統計量
# 可用此指令看出此資料概略模樣
data_2005.ret.describe()

count    252.000000
mean       0.000138
std        0.006478
min       -0.016720
25%       -0.004379
50%        0.000559
75%        0.004298
max        0.019736
Name: ret, dtype: float64

In [8]:
# mean
data_2005.ret.mean()

0.00013823982674002414

In [9]:
# standard deviation
data_2005.ret.std()

0.006477970597145991

In [10]:
# variance
data_2005.ret.var()

4.196410305748799e-05

In [11]:
# Skewness (S = 0)
data_2005.ret.skew()

0.002452788454232574

In [12]:
# Kurtosis (K = 3)
data_2005.ret.kurt() + 3

2.879456200410908

# 我打算一次把結果跑出來
- 那就用迴圈 
- `for i in list:`
- 記得`for`後面加上冒號
- 迴圈內程式記得要縮排(前面四個空格)

In [13]:
# 生成一組list
List_year = [2005,2015,2018]

In [14]:
for i in List_year:
    print(i)

2005
2015
2018

In [15]:
for i in List_year:
    data_test = data[data.year == i]
    a = data_test.ret.mean()
    b1 = data_test.ret.std()
    b2 = data_test.ret.var()
    c = data_test.ret.skew()
    d = data_test.ret.kurt() + 3
    print(i, format(a,'8.4f'),format(b1,'8.4f'),format(b2,'8.4f'),format(c,'8.4f'),format(d,'8.4f'))

2005   0.0001   0.0065   0.0000   0.0025   2.8795
2015   0.0000   0.0098   0.0001  -0.1686   4.9266
2018  -0.0002   0.0107   0.0001  -0.4254   6.1394

In [86]:
# 刪除列
data.drop('logr',axis = 1)

           Date    Adj Close  year  month  day       ret
0      1990/1/2   359.690002  1990      1    2       NaN
1      1990/1/3   358.760010  1990      1    3 -0.002586
2      1990/1/4   355.670013  1990      1    4 -0.008613
3      1990/1/5   352.200012  1990      1    5 -0.009756
4      1990/1/8   353.790009  1990      1    8  0.004514
5      1990/1/9   349.619995  1990      1    9 -0.011787
6     1990/1/10   347.309998  1990      1   10 -0.006607
7     1990/1/11   348.529999  1990      1   11  0.003513
8     1990/1/12   339.929993  1990      1   12 -0.024675
9     1990/1/15   337.000000  1990      1   15 -0.008619
10    1990/1/16   340.750000  1990      1   16  0.011128
11    1990/1/17   337.399994  1990      1   17 -0.009831
12    1990/1/18   338.190002  1990      1   18  0.002341
13    1990/1/19   339.149994  1990      1   19  0.002839
14    1990/1/22   330.380005  1990      1   22 -0.025859
15    1990/1/23   331.609985  1990      1   23  0.003723
16    1990/1/24   330.260010  1990      1   24 -0.004071
17    1990/1/25   326.079987  1990      1   25 -0.012657
18    1990/1/26   325.799988  1990      1   26 -0.000859
19    1990/1/29   325.200012  1990      1   29 -0.001842
20    1990/1/30   322.980011  1990      1   30 -0.006827
21    1990/1/31   329.079987  1990      1   31  0.018887
22     1990/2/1   328.790009  1990      2    1 -0.000881
23     1990/2/2   330.920013  1990      2    2  0.006478
24     1990/2/5   331.850006  1990      2    5  0.002810
25     1990/2/6   329.660004  1990      2    6 -0.006599
26     1990/2/7   333.750000  1990      2    7  0.012407
27     1990/2/8   332.959991  1990      2    8 -0.002367
28     1990/2/9   333.619995  1990      2    9  0.001982
29    1990/2/12   330.079987  1990      2   12 -0.010611
...         ...          ...   ...    ...  ...       ...
7323  2019/1/25  2664.760010  2019      1   25  0.008489
7324  2019/1/28  2643.850098  2019      1   28 -0.007847
7325  2019/1/29  2640.000000  2019      1   29 -0.001456
7326  2019/1/30  2681.050049  2019      1   30  0.015549
7327  2019/1/31  2704.100098  2019      1   31  0.008597
7328   2019/2/1  2706.530029  2019      2    1  0.000899
7329   2019/2/4  2724.870117  2019      2    4  0.006776
7330   2019/2/5  2737.699951  2019      2    5  0.004708
7331   2019/2/6  2731.610107  2019      2    6 -0.002224
7332   2019/2/7  2706.050049  2019      2    7 -0.009357
7333   2019/2/8  2707.879883  2019      2    8  0.000676
7334  2019/2/11  2709.800049  2019      2   11  0.000709
7335  2019/2/12  2744.729980  2019      2   12  0.012890
7336  2019/2/13  2753.030029  2019      2   13  0.003024
7337  2019/2/14  2745.729980  2019      2   14 -0.002652
7338  2019/2/15  2775.600098  2019      2   15  0.010879
7339  2019/2/19  2779.760010  2019      2   19  0.001499
7340  2019/2/20  2784.699951  2019      2   20  0.001777
7341  2019/2/21  2774.879883  2019      2   21 -0.003526
7342  2019/2/22  2792.669922  2019      2   22  0.006411
7343  2019/2/25  2796.110107  2019      2   25  0.001232
7344  2019/2/26  2793.899902  2019      2   26 -0.000790
7345  2019/2/27  2792.379883  2019      2   27 -0.000544
7346  2019/2/28  2784.489990  2019      2   28 -0.002826
7347   2019/3/1  2803.689941  2019      3    1  0.006895
7348   2019/3/4  2792.810059  2019      3    4 -0.003881
7349   2019/3/5  2789.649902  2019      3    5 -0.001132
7350   2019/3/6  2771.449951  2019      3    6 -0.006524
7351   2019/3/7  2748.929932  2019      3    7 -0.008126
7352   2019/3/8  2734.250000  2019      3    8 -0.005340

[7353 rows x 6 columns]